.prod-box1{
	width: 235px;
	height: 350px;
	overflow: hidden;
	margin: 0 20 30 0;
	position: relative;
	float: left;
	margin-left: 40px;
	margin-top: 50px;
}
.prod-box1 img{
	max-width: 100%;
}

.prod-feature1{
	text-align: center;
	margin-top: 75px;
}
.prod-feature1 p{
	text-align: center;
	color:Black;
	font-family: verdana;
	margin-top: -50px;
}

.prod-feature1 input{
	width:150px;
	height: 35px;
	font-size:17px;
	border: none;
	background: #ffa500;
	margin-top: 5px;
	cursor:pointer;
}	